p, li {
  color: black;
  font-size: 14px;
}


html {
  background-color: #d6cbd3;
}


#header {
 text-align: center;
 font-size: 48px;
  margin: 0 0;
  padding: 25px 0;
  color: #bdcebe;
  background-color: #eca1a6;
}

h2 {
  font-size: 32px;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #ada397;
  padding: 0 15px 10px 15px;
  border: 5px solid black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#navigation {
	font-size: 22px;
	font-color: blue;
	font-style: italic;
	padding: 25px 15px 2px 15px
	border: 5px blue;

  h4 {
    font-family: "Arial", sans-serif;
    font-size: 20px;
  }
h2 {
    font-family: "Arial", sans-serif;
    font-size: 32px;
  } 
}